@import 'antd/dist/reset.css';
@import 'bootstrap/dist/css/bootstrap-reboot.css';
@import 'bootstrap/dist/css/bootstrap-grid.css';

@font-face {
  font-family: calculator;
  font-style: normal;
  font-weight: 400;
  src: local('Calculator'), url('/src/assets/fonts/Calculator.woff') format('woff');
}
