.body {
  display: flex;

}
.game {
  display: block;
  width: 300px;
  height: auto;
  background-color: #92a07c;
  border: 1px solid black;
  position: relative;
  &.finished {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #85936f;
      z-index: 1;
      opacity: 0.8;
    }
  }
  .finished {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: auto;
    font-family: calculator, serif;
    font-size: 64px;
    color: black;
    z-index: 2;
    flex-wrap: wrap;
    div {
      white-space: nowrap;
    }
  }
  .row {
    display: flex;
    .ceil {
      border: 1px solid #85936f;
      flex: 1;
      position: relative;
      &:before {
        padding-top: 100%;
        content: '';
        display: block;
        position: relative;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 30%;
        right: 30%;
        top: 30%;
        bottom: 30%;
        background-color: #85936f;
      }
      &.underFigure, &.filled {
        border: 1px solid black;
        &:after {
          background-color: black;
        }
      }
    }

  }
}
